import styles from './{{titleCase name}}.css'; 
// nextImport 

function {{titleCase name}}() { 
    return (
        <div className="{styles.container}">
            {/* nextTag */}
        </div>
    ) 
} 

export default {{titleCase name}}
