import { Link } from "react-router-dom";
import styles from "./Nav.module.css";

function Nav() {
    return (
        <nav className={styles.container}>
            <img className={styles.item} src="vite.svg" />
            <Link className={styles.item} to="/first">first</Link>
            <Link className={styles.item} to="/second">second</Link>
            <Link className={styles.item} to="/second">account</Link>
            <Link className={styles.item} to="/second"><i className="bi bi-box-arrow-right"></i></Link>
        </nav>
    )
}

export default Nav;
