import { Link } from "react-router-dom"; import styles from "./Nav.module.css";
// nextImport function Nav() { // nextVar return (
<nav className="{styles.container}">
  <img className="{styles.item}" src="vite.svg" />
  {/* nextLink */}
</nav>
) } export default Nav;

<nav className="{styles.container}">
  <header className="{styles.header}">
    <Link to="/" className="{styles.logo_link}">
      <img className="{styles.logo}" src="vite.svg" />
    </Link>
    <div className="{styles.titles}">
      <h1 className="{styles.title}">Title</h1>
      <p className="{styles.sub_title}">Subtitle</p>
    </div>
  </header>
  <div className="{styles.body}">

  </div>
  <footer className="{styles.footer}">

  </footer>
</nav>