import './App.css' import 'bootstrap/dist/css/bootstrap.min.css'; import
'bootstrap-icons/font/bootstrap-icons.css'; // nextImport function App() { //
nextVar // nextFn return (
<div className="App">
  {/* nextTag */}
</div>
) } export default App