import { Link } from "react-router-dom"; import styles from "./Nav.module.css";
// nextImport function Nav() { // nextVar return (
<nav className="{styles.container}">
  <img className="{styles.item}" src="vite.svg" />
  {/* nextLink */}
</nav>
) } export default Nav;